<!doctype html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Feeder</title>
<script>
$(document).ready(function()
{
	$("input").click(function()
	{
		ii = this.id
		$.ajax({
		type: 'POST',
        url: '/feeder/ajax/modify/',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          'id': this.id,
          'code': '{{ code }}'
        },
        success: function () {
        	// alert($("#"+ii).val())
        if($("#"+ii).val() == "Selected")
        	$("#"+ii).val("Select")
        else
        	$("#"+ii).val("Selected")
        }
      });
  		
	});
});
</script>
</head>
<body>
<div class="container">
<table class="table">
	<thead>
	  <tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Roll Number</th>
		<th>Branch</th>
		<th>Program</th>
		<th>Year</th>
		<th>Status</th>
	  </tr>
	</thead>
	<tbody>
	  {% for student in students %}
	  <tr>
		<td>{{student.user.first_name}}</td>
		<td>{{student.user.last_name}}</td>
		<td>{{student.roll_number}}</td>
		<td>{{student.get_student_branch_display}}</td>
		<td>{{student.get_student_program_display}}</td>
		<td>{{student.student_year}}</td>
		<td>
			{% if course in student.course_set.all %}
			<input type="button" id = "{{student.user.id}}" value ="Selected" >
			{% else %}
			<input type="button" id = "{{student.user.id}}" value = "Select" >
			{% endif %}
		</td>
	  </tr>
	  {% endfor %}
			
	</tbody>
</table>
</div>