<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<script src="{% static 'js/dashboard.js' %}"></script>
	<title>
		Home
	</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 nav-header">
					<a class="navbar-brand" href="#">Feeder</a>
				</div>
				<div class="col-sm-9 col-md-10" style="background-color: #B6BAE5" id="navind">
					Home	
				</div>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="admin_home" id="home"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
					<li><a href="#" id="courses"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Running Courses</a></li>
					<li><a href="#" id="addcourse"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Course</a></li>
					<li><a href="#" id="students"><span class = "glyphicon glyphicon-user"></span>&nbsp;&nbsp;Students</a></li>
		            <li><a href="#" id="instructors"><span class = "glyphicon glyphicon-user"></span>&nbsp;&nbsp;Instructors</a></li>
				</ul>
				<ul class="nav nav-sidebar sidebar-bottom">
					<li><a href="#" id="admin_profile"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
					<li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</div>		
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="mainframe" >
		{% if messages %}
	{% for message in messages %}
	{% if 'success' in message.tags %}
	<div class= "alert alert-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% if 'error' in message.tags %}
	<div class= "alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% if 'info' in message.tags %}
	<div class= "alert alert-info">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}    
	</div>
</body>
</html>