<table class="table">
<thead>
	<tr>
		<th>Course Code</th>
		<th>Course Name</th>
		<th>Department</th>
		<th>Course Credits</th>
		<th>Duration</th>
		<th>Modify</th>
	</tr>
</thead>
<tbody>
	{% for course in courses %}
	<tr>
		<td>{{course.course_code}}</td>
		<td>{{course.course_name}}</td>
		<td>{{course.course_branch}}</td>
		<td>{{course.course_credits}}</td>
		<td>{{course.course_duration}}</td>
		<td><a href="addsttocourse/{{course.course_code}}">Modify</a></td> 
	</tr>
	{% endfor %}
</tbody>
</table>