<!doctype html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '131726163966656',
			cookie	 : true,
			status	 : true,
			xfbml      : true,
			version    : 'v2.8'
		});
		FB.AppEvents.logPageView();
	};

	(function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/sdk.js";
		 fjs.parentNode.insertBefore(js, fjs);
	 }(document, 'script', 'facebook-jssdk'));

	function checkLoginState() {
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
				FB.api('/me?fields=first_name,last_name,email', function(response) {
					$('#fb_firstname').val(response.first_name);
					$('#fb_lastname').val(response.last_name);
					$('#fb_email').val(response.email);
					var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", 'csrfmiddlewaretoken');
				hiddenField.setAttribute("value", '{{ csrf_token }}');
				$('#fb_login_form').append(hiddenField);
					$('#fb_login_form').submit();
				});
			}
			else {
				FB.login(function (response) {
					if (response.status === 'connected') {
						FB.api('/me?fields=first_name,last_name,email', function(response) {
							$('#fb_firstname').val(response.first_name);
							$('#fb_lastname').val(response.last_name);
							$('#fb_email').val(response.email);
							var hiddenField = document.createElement("input");
							hiddenField.setAttribute("type", "hidden");
							hiddenField.setAttribute("name", 'csrfmiddlewaretoken');
							hiddenField.setAttribute("value", '{{ csrf_token }}');
							$('#fb_login_form').append(hiddenField);
							$('#fb_login_form').submit();
						});
					}
				} , {scope: 'email'});
			}
		});
	}
</script>
<title>Feeder</title>
<style>

</style>
</head>
<body style="background-image: url({% static 'images/background.jpg' %});background-size: cover;overflow:hidden">
<div class="container">
	{% if messages %}
	{% for message in messages %}
	{% if 'success' in message.tags %}
	<div class= "alert alert-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% if 'error' in message.tags %}
	<div class= "alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
	<div class = "logo" style="text-align: center;margin-top:-50px ">
	{% load static %} <img src="{% static 'images/feeder_logo.png' %}"/>
	</div>    
	<div class ="well" style="background-color: #1b1010">
	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a data-toggle="pill" href="#instructor">Instructor</a></li>
		<li><a data-toggle="pill" href="#admin">Admin</a></li>
	</ul>
	
	<div class ="tab-content">

	<div id="admin" class="tab-pane fade">
		<form class="anim-form" method="post" action="/feeder/authadmin">
			{% csrf_token %}
			<div class="form-group">
				<input required id="username" class="textinput" name="username" placeholder="User Name">
			</div>
			<div class="form-group">
				<input type="password" name = "password" class = "textinput" required id="pwd" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4" style="background-color: #3F42F0"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log In</button>
			<!-- Add captcha feature if possible -->
		</form>
	</div>

	<div id="instructor" class="tab-pane fade in active">
		<form class="anim-form" method = "post" action = "authinstruct">
		{% csrf_token %}
			<div class="form-group">
				<input type="email" required id="email" class = "textinput"  name="email" placeholder="Email ID">
			</div>
			<div class="form-group">
				<input type="password" required id="pwd" name = "password" class = "textinput" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4" style="background-color: #3F42F0"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log In</button>
			<button type="button" class="btn btn-info col-sm-5" style="background-color: #3b5998;" onclick="checkLoginState();">Sign In With Facebook</button>
			<button type="button" class="btn btn-info col-sm-offset-2 col-sm-5" style="background-color: #d34836">Sign In With Google</button>
			<a href = "signup">
			<button type="button" class="btn btn-info col-sm-offset-3 col-sm-6" style="background-color: #136606">New Here?? Sign Up!!</button></a>
		</form>
	</div>
	</div>
	</div>
	</div>
	<form style="display: none;" id="fb_login_form" action="/feeder/fb_login/" method="post">
		<input id="fb_firstname" type="text" name="firstname">
		<input id="fb_lastname" type="text" name="lastname">
		<input id="fb_email" type="text" name="email">
	</form>
</body>
</html>