<!doctype html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Feeder</title>
</head>
<body>
<div class="container anim-form">
	{% if messages %}
	{% for message in messages %}
	{% if 'success' in message.tags %}
	<div class= "alert alert-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% if 'error' in message.tags %}
	<div class= "alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}    
	<div class ="row">
	<ul class="nav nav-tabs nav-justified">
		<li class="active"><a data-toggle="pill" href="#instructor">Instructor</a></li>
		<li><a data-toggle="pill" href="#student">Student</a></li>
	</ul>
	</div>
	<div class ="tab-content">

	<div id="student" class="tab-pane fade">
		<form method="post" action="authstudent">
			{% csrf_token %}
			<div class="form-group">
				<input type="email" name = "email" class="textinput" required id="email" placeholder="Email ID">
			</div>
			<div class="form-group">
				<input type="password" name = "password" class = "textinput" required id="pwd" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4">Submit</button>

			<button type="button" class="btn btn-info col-sm-5" style="background-color: #3b5998;">Sign In With Facebook</button>
			<button type="button" class="btn btn-info col-sm-offset-2 col-sm-5" style="background-color: #d34836">Sign In With Google</button>

			<a href = "signup">
			<button type="button" class="btn btn-info col-sm-offset-3 col-sm-6" style="background-color: #68D957">New Here?? Sign Up!!</button></a>
		</form>
	</div>

	<div id="instructor" class="tab-pane fade in active">
		<form class="anim-form" method = "post" action = "authinstruct">
		{% csrf_token %}
			<div class="form-group">
				<input type="email" required id="email" class = "textinput"  name="email" placeholder="Email ID">
			</div>
			<div class="form-group">
				<input type="password" required id="pwd" name = "password" class = "textinput" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4">Submit</button>
			<button type="button" class="btn btn-info col-sm-5" style="background-color: #3b5998;">Sign In With Facebook</button>
			<button type="button" class="btn btn-info col-sm-offset-2 col-sm-5" style="background-color: #d34836">Sign In With Google</button>
			<a href = "signup">
			<button type="button" class="btn btn-info col-sm-offset-3 col-sm-6" style="background-color: #68D957">New Here?? Sign Up!!</button></a>
		</form>
	</div>
	</div>
	</div>
</body>
</html>