
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
	{% load static %}
	<script type="text/javascript" src="{% static 'js/form-validation.js' %}"></script>
	{% load static %}
	<script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
</head>
<body style="background-image: url({% static 'images/background.jpg' %});background-size: cover;overflow:hidden">
<div class="container">
	{% if messages %}
      {% for message in messages %}
        {% if 'success' in message.tags %}
        <div class= "alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        </div>
        {% endif %}
        {% if 'error' in message.tags %}
        <div class= "alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        </div>
        {% endif %}
      {% endfor %}
  	{% endif %}
  	<div class = "logo" style="text-align: center;margin-top:-50px ">
	{% load static %} <img src="{% static 'images/feeder_logo.png' %}"/>
	</div>    
  	<div class = "well" style="background-color: #000000;">
  	<h4 style="color:#ffffff;text-align:center;margin-bottom:-30px">Registration Form for Instructor</h2>   
  	<form class="anim-form" method="post" action="/feeder/register/">
			{% csrf_token %}
			<div class="form-group">
			<div class = "col-sm-6">
				<input required id="firstname" class="textinput1" name="firstname" placeholder="First Name">
			</div>
			<div class = "col-sm-6">
				<input required id="lastname" class="textinput1" name="lastname" placeholder="Last Name">
			</div>
			</div>
			<div class="form-group">
				<input type="email" name = "email" class = "textinput" required id="email" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" name = "password" class = "textinput" required id="password" placeholder="Password">
			</div>
			<div class="form-group">
				<input type="password" name = "cnfm_password" class = "textinput" required id="cnfm_password" placeholder=" Confirm Password">
			</div>
			<div class="form-group" style = "margin-bottom: 100px">
			<label for="birthDate" style="color:#ffffff;margin-left: 20px" class="col-sm-3 control-label">Date of Birth</label>
			<div class="col-sm-8">
				<input type="date" id="birthdate" name="birthdate" class="form-control" style="margin-top:-5px">
			</div>
			</div>
			<div class="form-group" style = "margin-bottom: 150px">
			<label for="branch" style="color:#ffffff;margin-left: 20px" class="col-sm-3 control-label">Department</label>
			<div class="col-sm-8">
				<select name ="branch" class="form-control">
					<option>Select Your Department</option>
					<option value="CS">Computer Science and Engineering</option>
					<option value="EE">Electrial Engineering</option>
					<option value="ME">Mechanical Engineering</option>
					<option value="CL">Chemical Engineering</option>
				</select>
			</div>
		</div>
			<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4" style="background-color: #3F42F0"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Register</button>
			<!-- Add captcha feature if possible -->
		</form>
	</div>
</div>
</body>
</html>