<table class="table table-condensed" style="border-bottom: 0.5px solid #ccc;">
	<thead>
	  <tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Roll Number</th>
		<th>Branch</th>
		<th>Program</th>
		<th>Year</th>
	  </tr>
	</thead>
	<tbody id="accordion">
	  {% for student in students %}
	  <tr class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#acc{{ forloop.counter }}">
		<td>{{student.user.first_name}}</a></td>
		<td>{{student.user.last_name}}</td>
		<td>{{student.roll_number}}</td>
		<td>{{student.get_student_branch_display}}</td>
		<td>{{student.get_student_program_display}}</td>
		<td>{{student.student_year}}</td>
	  </tr>
	  <tr>
	  	<td colspan="6" class="hidden-row">
	  		<div class="accordion-body collapse" id="acc{{ forloop.counter }}">
	  			<table class="table table-condensed" style="border-bottom: 0.5px solid #ccc;">
	  				<thead>
	  					<tr>
	  						<th>#</th>
	  						<th>Courses Student Is Enrolled In</th>
	  						<th>Course Credits</th>
	  					</tr>
	  				</thead>
	  				<tbody>
	  					{% for course in student.course_set.all %}
	  					<tr>
	  						<td>{{forloop.counter}}</td>
		  					<td>{{course.course_name}}</td>
		  					<td>{{course.course_credits}}</td>
	  					</tr>
	  					{% endfor %}
	  				</tbody>
	  			</table>
	  		</div>	  		
	  	</td>
	  </tr>
	  {% endfor %}
	</tbody>
</table>