@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
}

.container {
  width: 500px;
  margin: 90px auto;
/*  background: #35FFA9;
  color: #1D8358;
*/  padding: 0 !important;
}
.nav {
  border: none !important;
}
.btn {
  margin-bottom: 40px !important;
}
.nav-justified li a {
  /*background-color: #27B378;*/
  border: none !important;
  color: #1D8358;
}
.nav-justified li.active a {
  background-color: #35FFA9 !important;
  border-bottom: 2px solid #fff !important; 
  border-radius: 0 !important;
  color: #fff !important;
}

.anim-form .textinput {
 margin: 40px auto;
 width: 500px;
 display: block;
 border: none;
 padding: 10px 0;
 border-bottom: solid 1px #1abc9c;
 -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
 transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
 background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
 background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
 background-position: -500px 0;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 color: #0e6252;
}

.anim-form .textinput:focus,
  input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.anim-form .textinput::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.anim-form .textinput:focus::-webkit-input-placeholder,
  input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}