<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<title>Home</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 nav-header">
					<a class="navbar-brand" href="#">Feeder</a>
				</div>
				<div class="col-sm-9 col-md-10" style="background-color: #B6BAE5" id="navind">&nbsp;&nbsp;Home	
				</div>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="admin_home" id="home"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
					<li><a href="#" id="courses"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Running Courses</a></li>
					<li><a href="#" id="addcourse"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Course</a></li>
					<li><a href="#" id="students"><span class = "glyphicon glyphicon-user"></span>&nbsp;&nbsp;Students</a></li>
		            <li><a href="#" id="instructors"><span class = "glyphicon glyphicon-user"></span>&nbsp;&nbsp;Instructors</a></li>
				</ul>
				<ul class="nav nav-sidebar sidebar-bottom">
					<li><a href="#" id="admin_profile"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Profile</a></li>
					<li><a href="logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
				</ul>
			</div>
		</div>		
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="mainframe" >
	{% if messages %}
	{% for message in messages %}
	{% if 'success' in message.tags %}
	<div class= "alert alert-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% if 'error' in message.tags %}
	<div class= "alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% if 'info' in message.tags %}
	<div class= "alert alert-info">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %} 
	<h1 align="center">Welcome {{ admin.first_name }} {{ admin.last_name }}!</h1>
	<div class = "well" style="height:300px;">
		<div class="form anim-form">
			<h5 style="color:#fff;text-align:center;">Update students database (Upload the csv file containing student details)</h5>
			<p style="color:#fff;text-align:center;"> email*|password*|rollnumber|firstname|lastname</p>
			<p style="color:#fff;text-align:right;">* Required fields</p>
			<form class="form-anim" method="post" action="updatedatabase" style="align-content: center;" enctype="multipart/form-data">
			{% csrf_token %}
				<div class="col-sm-5" style="margin-left: 30%;">
					<input type="file" name="studentscsv" id="file" class="input-file" required onchange="changeFile()">
					<label for="file" style="background-color:#3F42F0" class="btn btn-info btn-file">Choose a file</label>
				</div>
				<div class="col-sm-4" style="margin: 30px 0; margin-left: -40px; padding: 0; color: #fff;" id="file-name">No File Chosen</div>
				<div class="col-sm-4" style="margin-left: 35%;">
					<button type="submit" style="background-color:#3F42F0" class="btn btn-info btn-file">Upload</button>
				</div>
			</form>
		</div>
	</div>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function () {
		$('.nav li a').click(function(e) {

			$('.nav li').removeClass('active');

			var $parent = $(this).parent();
			if (!$parent.hasClass('active')) {
				$parent.addClass('active');
			}
			$('#navind').text($(this).text());
			$('#mainframe').load(this.id);
		});	
	});

	function changeFile() {
		var filename = $('#file').val().replace(/^.*[\\\/]/, '')
		$('#file-name').text(filename);
	}
</script>
</html>