<!-- Tentative code needs improvisaton in html and testing in sense of backend -->
Display responses here
{% for question in feedback.question_set.all %}
	{{ question.question }} <br>
{% endfor %}

<div class="container">
  <h2>{{ feedback.name }}</h2>
  <p>Course is {{feedback.course.course_code}} {{feedback.course.course_name}}</p>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>