<p align="center">Click on a course to view its list of feedbacks</p>
<table class="table">

	<thead>
	  <tr>
		<th>Course Code</th>
		<th>Course Name</th>
		<th>Department</th>
		<th>Course Credits</th>
		<th>Duration</th>
	  </tr>
	</thead>
	<tbody id="accordion">
	  {% for course in courses %}
	<tr class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#acc{{ forloop.counter }}">
		<td>{{course.course_code}}</td>
		<td>{{course.course_name}}</td>
		<td>{{course.course_branch}}</td>
		<td>{{course.course_credits}}</td>
		<td>{{course.course_duration}}</td>
	</tr>
	<tr class="hidden-row">
		<td colspan="6">
			<div class="accordion-body collapse" id="acc{{ forloop.counter }}">
				<table class="table table-condensed" style="border-bottom: 0.5px solid #ccc;">
					<thead>
						<tr>
							<th>Deadline</th>
							<th>Feedback Name</th>
							<th>Student Responses</th>
							<th>Aggregate Results for Objective Questions</th>
						</tr>
					</thead>
					<tbody>
						{% for feedback in course.feedback_set.all %}
						<tr>
	  					<td>{{feedback.deadline.date}}</td>
	  					<td>{{feedback.name}}</td>
	  					<td><a href="/feeder/viewresponses/{{feedback.id}}" target="_blank">View</a></td>
	  					<td>View</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>	  		
		</td>
	</tr>
	  {% endfor %}
	</tbody>
  </table>
