@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
	margin: 0;
	padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
}

.container {
  padding: 0 !important;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.alert {
	width: 600px;
	margin: auto;
	margin-top: 30px; 
}

.logo {
	margin: auto;
	width: 600px;
	height: 100px;
}

.logo img {
	height: 100px;
}

.well {
	margin: auto;
	padding: 19px;
	width: 600px;
	box-shadow: 10px 10px 5px #888888;
	background-color: #1b1010;
}

.well .nav-justified {
	margin-bottom: 10px;
}

.well .nav-justified li a {
	border: none !important;
  color: #1D8358;
}

.well .nav-justified li a:hover {
  background-color: #000000 !important;
}

.well .nav-justified li.active a {
  background-color: #589D38 !important;
  border-radius: 0 !important;
  color: #ffffff !important;
}

.form-anim .input-text {
	width: 100%;
	height: 20px;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	border: none;
	border-bottom: solid 1px #1abc9c;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
	background-size: 0 100%;
	background-repeat: no-repeat;
	color: #fff;
}

.form-anim .input-text:focus,
input:valid {
  box-shadow: none;
  outline: none;
  background-size: 100% 100%;
}

.form-anim .input-text::-webkit-input-placeholder {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-anim .input-text:focus::-webkit-input-placeholder,
input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  visibility: visible !important;
}

.form-anim div {
	padding: 0 20px;
}

.form-anim .label {
	margin: 0;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 20px;
	font-size: 16px;
}

.form-anim .radio-group {
	height: 20px;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0 40px;
	color: #fff !important;
}

.form-anim select option {
	color: #000;
}

.form-anim .input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	/*z-index: -1;*/
}

.form-anim .input-file + label {
	font-size: 1.25em;
	font-weight: 700;
	color: white;
	background-color: black;
	display: inline-block;
	cursor: pointer;
}

.form-anim .btn {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.error {
	font-size: 12px;
	position: absolute;
	margin: 0;
	padding: 0;
	margin-top: -10px;
	color: red;
}