<div class="form anim-form">
<form action="createfeedback" onsubmit="return validateFeedbackForm()"  method="post">
	{% csrf_token %}
	<div class="form-group">
		<label>Select Course</label>
		<select class="form-control" name="fcourse">
		{% for course in courses %}
			<option value="{{course.course_code}}">{{course.course_code}} {{course.course_name}}</option>
		{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<input type="text" class="textinput" name = "fname" required id="description" placeholder="Feedback Name">
	</div>

	<div class="form-group">
	<label class="control-label">Deadline</label>
	<!-- <div class="col-sm-9"> -->
		<input type="date" required id="deadline" name="deadline" class="form-control">
	<!-- </div> -->
	</div>
	<br>
	<h3>Questions</h3>
	<br>
	<input type="hidden" id="qcount" name="qcount" value="0">
	<a href="#" onclick="addquestion('radio','Linear Scale Question','RB')" class="btn btn-info col-sm-5">Add Linear Scale</a> 
	<a href="#" onclick="addquestion('text','Text Question','TF')" class="btn btn-info col-sm-offset-2 col-sm-5">Add Subjective Question</a>
	<div id="questions">
	</div>
	<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4">Add Feedback</button>
</form>
</div>
