<div class="well" style="height: 400px;margin-top:7%" id="feedback">
	<form class="form-anim" action="createfeedback" onsubmit="return validateFeedbackForm()"  method="post">
	{% csrf_token %}
	<div class = "col-sm-3 label">Select Course</div>
		<div class = "col-sm-9">
		<select class="input-text" name="fcourse">
		{% for course in courses %}
			<option value="{{course.course_code}}">{{course.course_code}} {{course.course_name}}</option>
		{% endfor %}
		</select>
		</div>
	<div class="col-sm-12">
		<input type="text" class="input-text" name = "fname" required id="description" placeholder="Feedback Name">
	</div>
	<div class="col-sm-5 label">
			Select The Type Of Deadline
	</div>
	<div class="col-sm-7">
		<input type="date" required id="deadline" name="deadline" class="input-text">
	</div>
	<div class="col-sm-12 label">
			Questions
	</div>
	<input type="hidden" id="qcount" name="qcount" value="0">
	<div class="col-sm-8">
	<select id="questiontoadd" required="required" class="input-text">
		<option value="RB">Linear List</option>
		<option value="TF">Add text response question</option>
		<option value="MCQ">Add multiple choice question</option>
		<option value="CB">Add check boxes</option>
		<option value="DD">Add drop down list</option>
	</select>
	</div>
	<button type="button" onclick="addquestion()" style="margin: 10px;margin-right:20px; height: 30px;float:right;" class="btn btn-info col-sm-3">Add</button>
	<div id="questions" class="row" style="color: #fff;">
	</div>
	<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4">Add Feedback</button>
</form>
</div>
