<div class = "well" style="height: 500px; margin-top: 4%;">
	<form id="addcourse_form" class="form-anim" method="post" action="createcourse">
	{% csrf_token %}
		<div class="col-sm-12">
			<input type="text" class="input-text" name = "cname" required id="cname" placeholder="Course Name">
		</div>
		<div class="col-sm-12">
			<input type="text" class="input-text" name = "ccode" required id="ccode" placeholder="Course Code">
		</div>
		<div class="col-sm-3 label">
			Select Semester
		</div>
		<div class="col-sm-9 radio-group">
			<label class="radio-inline"><input type="radio" name="semester" value="1" checked>Fall</label>
			<label class="radio-inline"><input type="radio" name="semester" value="2">Spring</label>	
		</div>
		<div class="col-sm-3 label">
			Department
		</div>
		<div class="col-sm-9">
			<select name ="branch" class="input-text">
				<option selected disabled>Department</option>
				{% for branch in branches %}
				<option value="{{branch.0}}">{{branch.1}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-sm-3 label">
			Select Credit
		</div>
		<div class = "col-sm-9">
			<select name="credit" class="input-text">
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="6">6</option>
				<option value="8">8</option>
			</select>
		</div>
		<div class="col-sm-3 label">
			MidSem Date
		</div>
		<div class="col-sm-9">
			<input type="date" id="midsem" name="midsem" class="input-text" required="required">
		</div>
		<div class="col-sm-3 label">
			EndSem Date
		</div>
		<div class="col-sm-9">
			<input type="date" id="endsem" name="endsem" class="input-text" required="required">
		</div>
		<button type="submit" style="background-color:#3F42F0; margin-top: 30px;" class="btn btn-info col-sm-offset-4 col-sm-4">Add Course</button>
	</form>
</div>
<script type="text/javascript">
	$().ready(function() {
		$.validator.addMethod("regex", function(value,element,regexp){
			regexp = new RegExp(regexp);
			return this.optional(element) || regexp.test(value);
		},'Please enter a valid input!');

		$("#addcourse_form").validate({
		errorElement: 'div',
		rules: {
			cname: {
			required: true,
			maxlength: 100
			},
			ccode: {
			required: true,
			regex: /^[A-Z]{2}-[0-9]{3}$/
			},
			midsem: {
			required: true
			},
			endsem: {
			required: true
			},
			branch: {
			required: true
			},
		},
		messages: {
			cname: {
			required: "Please enter the Course Name",
			maxlength: "Course Name can't be more than 100 characters long"
			},
			ccode: {
			required: "Please enter Course Code",
			regex: "The Course Code entered is not valid"
			},
			email: {
			required: "Please enter your Email ID",
			email: "This is not a valid Email ID"
			},
			midsem: {
			required: "Please provide a Midsem Date"
			},
			endsem: {
			required: "Please provide an Endsem Date"
			},
			branch: {
			required: "Please select your department"
			},
		},

		submitHandler: function(form) {
			form.submit();
		}
		});
	});
</script>