<div class="well" style="height: 330px;margin-top:7%">
	<form class="form-anim" action="createdeadline" method="post">
		{% csrf_token %}
		<div class = "col-sm-3 label">Select Course</div>
		<div class = "col-sm-9">
		<select class="input-text" name="dcourse">
		{% for course in courses %}
			<option value="{{course.course_code}}">{{course.course_code}} {{course.course_name}}</option>
		{% endfor %}
		</select>
		</div>

		<div class="col-sm-5 label">
			Select The Type Of Deadline
		</div>
		<div class="col-sm-7 radio-group">
			<label class="radio-inline"><input type="radio" name="type" value = "ASS" checked onclick="assignmentchecked()">Assignment</label>
			<label class="radio-inline"><input type="radio" name="type" value="EX" onclick="examclicked()">Examination</label>
		</div>
		<div class="col-sm-12" id="textfieldforassignment">
			<input type="text" class="input-text" name = "deadlinedetails" required id="deadlinedetails" placeholder="Assignment Details">
		</div>
		<div class="label col-sm-3">Deadline</label></div>
		<div class="col-sm-9">
			<input type="date" required id="deadlinedate" name="deadlinedate" class="input-text">
		</div>
		<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4" style="background-color:#3F42F0; margin-top: 30px;">Add Deadline</button>
	</form>
</div>