<div class = "well" style="height: 300px; margin-top: 7%;">
  	<form class="form-anim" method="post" action="update_admin">
	{% csrf_token %}
		<div class = "col-sm-6">
			<input required id="firstname" class="input-text" name="firstname" placeholder="First Name" value="{{ request.user.first_name }}">
		</div>
		<div class = "col-sm-6">
			<input required id="lastname" class="input-text" name="lastname" placeholder="Last Name" value="{{ request.user.last_name }}">
		</div>
		<div class="col-sm-12">
			<input type="email" name = "email" class = "input-text" required id="email" placeholder="Email" value="{{ request.user.email }}">
		</div>
		<div class="col-sm-12">
			<input type="password" name = "password" class = "input-text" required id="password" placeholder="Current Password">
		</div>
		<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4" style="background-color: #3F42F0; margin-top: 30px;"><span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Update</button>
	</form>
</div>