<!doctype html>
<head>
<title>Feeder</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body style="background-image: url({% static 'images/background.jpg' %});background-size: cover;overflow:hidden">
<div class="container" style="height: 300px; top: 100px;">
	<div class = "logo" style="text-align: center;">
		<img src="{% static 'images/feeder_logo.png' %}"/>
	</div>
	<div class="well" style="height: 100px; width: 100%; text-align: center; color: #fff;">
		<h1 style="margin-top: 10px;height: 40px;">{{error}}</h1>
	</div>
</div>
</body>
</html>