<div class = "well" style="height: 300px;">
  	<form class="form-anim" method="post" action="update_ins">
	{% csrf_token %}
		<div class = "col-sm-6">
			<input required id="firstname" class="input-text" name="firstname" placeholder="First Name" value="{{ request.user.first_name }}">
		</div>
		<div class = "col-sm-6">
			<input required id="lastname" class="input-text" name="lastname" placeholder="Last Name" value="{{ request.user.last_name }}">
		</div>
		<div class="col-sm-12">
			<input type="email" name = "email" class = "input-text" required id="email" placeholder="Email" value="{{ request.user.email }}">
		</div>
		<div class="col-sm-3 label">
			Department
		</div>
		<div class="col-sm-9">
			<select name ="branch" class="input-text">
				<option>Select Department</option>
				<option value="CS">Computer Science and Engineering</option>
				<option value="EE">Electrial Engineering</option>
				<option value="ME">Mechanical Engineering</option>
				<option value="CL">Chemical Engineering</option>
			</select>
		</div>
		<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4" style="background-color: #3F42F0; margin-top: 30px;"><span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Update</button>
	</form>
</div>