<!doctype html>
<head>
<title>Feeder</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '1655236258101280',
			cookie	 : true,
			status	 : true,
			xfbml      : true,
			version    : 'v2.8'
		});
		FB.AppEvents.logPageView();
	};

	(function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/sdk.js";
		 fjs.parentNode.insertBefore(js, fjs);
	 }(document, 'script', 'facebook-jssdk'));

	function checkLoginState() {
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
				$('#access_token').val(response.authResponse.accessToken);
				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", 'csrfmiddlewaretoken');
				hiddenField.setAttribute("value", '{{ csrf_token }}');
				$('#fb_login_form').append(hiddenField);
				$('#fb_login_form').submit();
			}
			else {
				FB.login(function (response) {
					if (response.status === 'connected') {
						$('#access_token').val(response.authResponse.accessToken);
						var hiddenField = document.createElement("input");
						hiddenField.setAttribute("type", "hidden");
						hiddenField.setAttribute("name", 'csrfmiddlewaretoken');
						hiddenField.setAttribute("value", '{{ csrf_token }}');
						$('#fb_login_form').append(hiddenField);
						$('#fb_login_form').submit();
					}
				} , {scope: 'email'});
			}
		});
	}
</script>
</head>
<body style="background-image: url({% static 'images/background.jpg' %});background-size: cover;overflow:hidden">
	{% if messages %}
	{% for message in messages %}
	{% if 'success' in message.tags %}
	<div class= "alert alert-success">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% if 'error' in message.tags %}
	<div class= "alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
<div class="container" style="height: 500px; top: 100px;">
	<div class = "logo" style="text-align: center;">
		<img src="{% static 'images/feeder_logo.png' %}"/>
	</div>
	<div class ="well" style="height: 350px;">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a data-toggle="pill" href="#instructor">Instructor</a></li>
			<li><a data-toggle="pill" href="#admin">Admin</a></li>
		</ul>	
		<div class ="tab-content">
		<div id="admin" class="tab-pane fade">
			<form class="form-anim" method="post" action="authadmin">
			{% csrf_token %}
				<div class="col-sm-12">
					<input type="email" name = "email" class = "input-text" required id="email" placeholder="Email">
				</div>
				<div class="col-sm-12">
					<input type="password" name = "password" class = "input-text" required id="password" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4" style="background-color: #3F42F0; margin-top: 30px;"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log In</button>
			</form>
		</div>

		<div id="instructor" class="tab-pane fade in active">
			<form class="form-anim" method = "post" action = "authinstruct">
			{% csrf_token %}
				<div class="col-sm-12">
					<input type="email" name = "email" class = "input-text" required id="email" placeholder="Email">
				</div>
				<div class="col-sm-12">
					<input type="password" name = "password" class = "input-text" required id="password" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-info col-sm-offset-4 col-sm-4" style="background-color: #3F42F0; margin-top: 30px;"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log In</button>
				<button type="button" class="btn btn-info col-sm-5" style="background-color: #3b5998;" onclick="checkLoginState();">Sign In With Facebook</button>
				<a href = "signup">
				<button type="button" class="btn btn-info col-sm-offset-2 col-sm-5" style="background-color: #136606">New Here?? Sign Up!!</button></a>
			</form>
		</div>
		</div>
	</div>
</div>
<form style="display: none;" id="fb_login_form" action="fb_login/" method="post">
	<input id="access_token" type="text" name="access_token">
</form>
</body>
</html>