<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>
		{{feedback.course.course_code}} :{{ feedback.name }}
	</title>
</head>
<body>
	<div class="container-fluid" align="center">
	<table>
		<tr>
			<td><b>Feedback Name</b></td>
			<td>{{ feedback.name }}</td>
		</tr>
		<tr>
			<td><b>Course</b></td>
			<td>{{feedback.course.course_code}}, {{feedback.course.course_name}}</td>
		</tr>
	</table>
	</div>
	<div class="container" >
	{% if responses %}
		<div class="container-fluid" align="center">
		<table>
		{% for response in responses %}
			<tr>
			<td>
			<h3> Response {{ forloop.counter }} </h3>
			</td>
			<td>
			<div class="container-fluid" align="center">
			<table>
			<thead>
				<th>Question</th>
				<th>Response</th>
			</thead>
			{% for answer in response %}
				<tr>
				{% for info in answer %}
				<td> {{ info }} </td>
				{% endfor %}
				</tr>
			{% endfor %}
			</table>
			</div>
			</td>
			</tr>
		{% endfor %}
		</table>
		</div>
	{% else %}
		<h1 align="center"> No responses yet</h1>
	{% endif %}
	</div>
</body>
</html>