<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>
		{{feedback.course.course_code}} :{{ feedback.name }}
	</title>
</head>
<body>
	<div class="container-fluid" align="center">
	<table margin="20px">
		<tr>
			<td><b>Feedback Name</b></td>
			<td>{{ feedback.name }}</td>
		</tr>
		<tr>
			<td><b>Course</b></td>
			<td>{{feedback.course.course_code}}, {{feedback.course.course_name}}</td>
		</tr>
	</table>
	</div>
	<div class="container-fluid" align="center">
	<table>
	<thead>
		<th>Question</th>
		<th>Plot</th>
	</thead>
	{% for question in feedback.question_set.all %}
		{% if question.question_type == 'RB' or question.question_type == 'MCQ' or question.question_type == 'CB' or question.question_type == 'DD' %}
		<tr>
		<td>{{question.question}}</td>
		<td><img src="/graph/{{question.qid}}" height="400px" width="400px"></td>
		</tr>
		{% endif %}
	{% endfor %}
	</table>
	</div>
</body>
</html>